{
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "extends": [
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "airbnb" :["error"],
    "prettier/prettier": ["error"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
